{% extends 'default/index.html.twig' %}

{% block content_title %}Add Items{% endblock %}

{% block content %}
<div class="jumbotron">

  <h1>Eat what you love</h1>
  <p>but take care of your health </p>

  {% for flashMessage in app.session.flashbag.get('ItemAdded') %}
      <div class="alert alert-success">
        {{ flashMessage }}
      </div>
  {% endfor %}

  {% for flashMessage in app.session.flashbag.get('ItemNotAdded') %}
      <div class="alert alert-danger">
        {{ flashMessage }}
      </div>
  {% endfor %}

{{ form_start(form) }}
  <div>
       {{ form_label(form.name)  }}

       {% if form_errors(form.name) %}
       <div class="alert alert-danger">
       {{ form_errors(form.name) }}
       </div>
      {% endif %}

       {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
   </div>
   <br />
   <div>
        {{ form_label(form.quantity)  }}
        {% if form_errors(form.quantity) %}
        <div class="alert alert-danger">
        {{ form_errors(form.quantity) }}
        </div>
        {% endif %}
        {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
    </div>
    <br />
   <div>
        {{ form_label(form.save)  }}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-lg'}}) }}
        <a href="{{href_backToOrder}}" class="btn btn-default btn-lg">Back to order</a>
    </div>
  {{ form_end(form) }}

</div>
{% endblock %}
