{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-signin'}}) }}
<!-- <h3 class="form-signin-heading">Please sign up</h3> -->

{% if error is defined %}
<div class="alert alert-danger">
{{ form_errors(form) }}
</div>
{% endif %}

{{ form_label(form.username) }}
{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
{% if form_errors(form.username) %}
<div class="alert alert-danger">
{{ form_errors(form.username) }}
</div>
{% endif %}

{{ form_label(form.email) }}
{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
{% if form_errors(form.email) %}
<div class="alert alert-danger">
{{ form_errors(form.email) }}
</div>
{% endif %}

{{ form_label(form.plainPassword.first) }}
{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
{% if form_errors(form.plainPassword.first) %}
<div class="alert alert-danger">
{{ form_errors(form.plainPassword.first) }}
</div>
{% endif %}

{{ form_label(form.plainPassword.second) }}
{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}

{{ form_rest(form) }}
<br />
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-md btn-success btn-block" />
    </div>
{{ form_end(form) }}
