{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<nav aria-label="Page navigation">
  <ul class="pagination">

<!-- <div class="pagination"> -->
    {% if first is defined and current != first %}
        <!-- <span class="first"> -->
            <li><a href="#" onclick="getOrders( {{ first }} )">&lt;&lt;</a></li>
        <!-- </span> -->
    {% endif %}

    {% if previous is defined %}
        <!-- <span class="previous"> -->
            <li><a href="#" onclick="getOrders( {{ previous }} )">&lt;</a></li>
        <!-- </span> -->
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <!-- <span class="page"> -->
                <li><a href="#" onclick="getOrders( {{ page }} )">{{ page }}</a></li>
            <!-- </span> -->
        {% else %}
            <!-- <span class="current"> -->
            <li class="active">
              <a>{{ page }} <span class="sr-only">(current)</span></a>
            </li>
            <!-- </span> -->
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <!-- <span class="next"> -->
            <li><a href="#" onclick="getOrders( {{ next }} )">&gt;</a></li>
        <!-- </span> -->
    {% endif %}

    {% if last is defined and current != last %}
        <!-- <span class="last"> -->
            <li><a href="#" onclick="getOrders( {{ last }} )">&gt;&gt;</a></li>
        <!-- </span> -->
    {% endif %}
</div>
</ul>
</nav>
{% endif %}
