<nav class="navbar navbar-default">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/">Softxpert</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  {% if app.user %}
<ul class="nav navbar-nav">
<li class="{% if app.request.attributes.get('_route') == 'archive' %}active{% endif %}"><a href="/archive">History</a></li>
<li class="{% if app.request.attributes.get('_route') == 'active' %}active{% endif %}"><a href="/"> Current Orders </a></li>
<li class="{% if app.request.attributes.get('_route') == 'new' %}active{% endif %}"><a href="/new">New Order</a></li>
</ul>
  {% endif %}

{% if form_filter is defined %}

  {{ form_start(form_filter, {'attr': {'class': 'navbar-form navbar-left'}}) }}
       {{ form_label(form_filter.restaurant, ' ')  }}
       {{ form_errors(form_filter.restaurant) }}
       {{ form_widget(form_filter.restaurant, {'attr': {'class': 'form-control'}}) }}

       {{ form_label(form_filter.state, ' ')  }}
       {{ form_errors(form_filter.state) }}
       {{ form_widget(form_filter.state, {'attr': {'class': 'form-control'}}) }}

       My orders only
       <!-- This is badpractise, we should edit label style instead of that -->
       <!-- {{ form_label(form_filter.myorders,'' , {'label_attr': {'style': 'font-weight: 1700; '}})  }} -->
       {{ form_errors(form_filter.myorders) }}
       {{ form_widget(form_filter.myorders, {'attr': {'class': 'form-control'}}) }}


        {{ form_label(form_filter.save)  }}
        {{ form_widget(form_filter.save, {'attr': {'class': 'btn btn-default'}, 'label': 'Filter'}) }}
  {{ form_end(form_filter) }}

{% endif %}

<ul class="nav navbar-nav navbar-right">
  {% if app.user %}
    <li><a> Welcome, {{ app.user.username }} </a></li>
    <li><a href="/logout">Logout</a></li>
  {% else %}
    <li class="{% if app.request.attributes.get('_route') == 'fos_user_security_login' %}active{% endif %}"><a href="/login">Login</a></li>
    <li class="{% if app.request.attributes.get('_route') == 'fos_user_registration_register' %}active{% endif %}"><a href="/register">Register</a></li>
  {% endif %}
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
