{% extends 'default/index.html.twig' %}

{% block content_title %}Active Orders, Now! <span id="orders_count">({{ forders.getTotalItemCount }} Orders)</span>{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <style>
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-bottom: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
    margin:0px auto;
    position:absolute;
    left: 50%;
  }

  .col-centered{
    float: none;
    margin: 0 auto;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
  </style>
{% endblock %}

{% block content %}
<div id="loader" class="loader "></div>

<div id="orders"></div>
<div id="paginator"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
     <script src="/js/orderat.order-parser.js"></script>
     <script src="/js/orderat.ajax.js"></script>
     <script>
      //Values from URL
      var filterObject = {};
      {% for  key,value in params %}
        filterObject["{{key}}"] = "{{value}}";
      {% endfor %}
      var section = '{{ section }}';

      getOrders(1);
      initializeFilterButton();
     </script>

{% endblock %}
